@model IEnumerable<stazkainos.Models.FundValue>
@{
    Layout = null;
}
<table style="padding: 5px; border: 1px solid black; margin-top: 15px;">
    <tr>
        <th style ="padding: 5px; border: 1px solid black;">
            Data
        </th>
        <th style="padding: 5px; border: 1px solid black;">
            Wartość
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="padding: 5px; border: 1px solid black;">
            @{
    if (item.fundDate != null)
    {
        DateTime date = (DateTime)item.fundDate;
        String displaydate = date.ToShortDateString();
        @Html.Raw(displaydate)
    }
    ;
            }
        </td>

        <td style="padding: 5px; border: 1px solid black;">
            @Html.DisplayFor(modelItem => item.value)
        </td>
    </tr>
}

</table>
