@section scripts {
    <script>
        @Scripts.Render("~/Content/themes/base/css")
    </script>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
}





<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center header">
            <h1> Michał Etmański</h1>
            <p>Zadanie konkursowe Kainos</p>
        </div>
    </div>
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="active"><a href=@Url.Action("Index")>Strona główna</a></li>
                    <li><a href=@Url.Action("Index","Compare")>Porównaj</a></li>
               </ul>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-xs-12" id="chart">

            @{
                Html.RenderAction("FundsChart", "Funds");
            }
        </div>
    </div>
    <div class="row">
        <div id="testchart" class="col-xs-4 col-xs-offset-5">
            <div>
                @using (Html.BeginForm())
                {
                    <input type="text" size="24" name="val" id="daterange" value="01/01/2015 1:30 PM - 01/01/2015 2:00 PM" />
                    <input type="submit" value="Wybierz zakres dat" class="btn-primary my-button" />
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-xs-offset-5">
            @{
                Html.RenderAction("FundsTable", "Funds");
            }
        </div>
        <script>
            $(function () {
                $('input[id="daterange"]')
                    .daterangepicker({
                        "startDate": "01/05/1998",
                        "endDate": "05/12/2016",
                        "minDate": "01/05/1998",
                        "maxDate": "05/12/2016"
                    },
                        function (start, end, label) {

                        });
            });
        </script>
    </div>
</div>
