@model IEnumerable<stazkainos.Models.FundValue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fundDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.value)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fundDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.value)
        </td>
    </tr>
}

</table>
