@using stazkainos.Controllers

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    @{Html.RenderAction("FundsChart", "Funds");}
</div>
<div >
    @{
        Html.RenderAction("FundsTable", "Funds");
    }
</div>
